<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="change('upload')">upload</button> 
    <button onclick="change('placeorder')">placeorder</button> 
    <button onclick="change('order-request')">order-request</button> 
    <button onclick="change('accepted-order')">accepted-order</button> 
    {% with %}  
        {% if data %}
            <table class="table">
                <thead>
                    <tr>
                        <th>design</th>
                        <th>Button</th>
                    </tr>
                </thead>
            {% for message in data %}
                <tbody>
                  <tr id="{{ message['_nid'] }}">
                    <td>
                        <div style="height: 150px; width: 600px;">
                            <p>description: {{ message['description'] }}</p>
                        </div>
                    </td>
                    <td><input type="button" value="placeorder" onclick="Send()" /></td>
                  </tr>
                </tbody>
            {% endfor %} 
            </table>   
        {% endif %}  
    {% endwith %}
    <script>
        const Send = () =>{
            var rowId = event.target.parentNode.parentNode.id;
            console.log(rowId);
            // create own form in memory
            const formData = new FormData();

            // set values in this form
            formData.append("button", rowId);

            fetch("/placeorder", {
                method: "POST",
                body: formData
                //headers: {'Content-Type': 'application/json'},
                //body: JSON.stringify(formData)
            }).then((response) =>{
                return response.text()
            }).then((data) =>{
                console.log(data)
                document.body.innerHTML=data
            })
            }
    </script>
    <script>
        const change = (id) =>{
            if (id=='upload'){
                fetch('/upload',{
                    method: 'GET'
                }).then((response) =>{
                    return response.text()
                }).then((html) =>{
                    document.body.innerHTML=html
                })
            }
            else if(id=='placeorder'){
                fetch('/store',{
                    method: 'GET'
                }).then((response) =>{
                    return response.text()
                }).then((html) =>{
                    document.body.innerHTML=html
                })
            }
            else if(id=='order-request'){
                fetch('/uorderrequest',{
                    method: 'GET'
                }).then((response) =>{
                    return response.text()
                }).then((html) =>{
                    document.body.innerHTML=html
                })
            }
            else{
                fetch('/uaccepted_order',{
                    method: 'GET'
                }).then((response) =>{
                    return response.text()
                }).then((html) =>{
                    document.body.innerHTML=html
                })
            }
        }
    </script>
</body>
</html>