<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}  
        {% if messages %}  
            {% for message in messages %}  
                <p>{{ message }}</p>  
            {% endfor %}  
        {% endif %}  
    {% endwith %} 
    <button onclick="change('upload')">upload</button> 
    <button onclick="change('placeorder')">placeorder</button> 
    <button onclick="change('order-request')">order-request</button> 
    <button onclick="change('accepted-order')">accepted-order</button>
    <button onclick="change('logout')">logout</button> 
    <form action = "/upload" method = "POST" enctype=multipart/form-data> 
        <p>upload_image <input type = "file" name = "file" /></p> 
        <p>description <input type = "text" name = "description" /></p>  
        <p><input type = "submit" value = "Submit" /></p> 
    </form>
</body>
<script>
    const change = (id) =>{
        if (id=='upload'){
            fetch('/upload',{
                method: 'GET'
            }).then((response) =>{
                return response.text()
            }).then((html) =>{
                document.body.innerHTML=html
            })
        }
        else if(id=='placeorder'){
            fetch('/store',{
                method: 'GET'
            }).then((response) =>{
                return response.text()
            }).then((html) =>{
                document.body.innerHTML=html
            })
        }
        else if(id=='order-request'){
            fetch('/uorderrequest',{
                method: 'GET'
            }).then((response) =>{
                return response.text()
            }).then((html) =>{
                document.body.innerHTML=html
            })
        }
        else if(id=='logout'){
            fetch('/userlogout', {
                method: 'GET'
            }).then((response) =>{
                return response.text()
            }).then((html) =>{
                document.body.innerHTML=html
            })
        }
        else{
            fetch('/uaccepted_order',{
                method: 'GET'
            }).then((response) =>{
                return response.text()
            }).then((html) =>{
                document.body.innerHTML=html
            })
        }
    }
</script>
</html>